.el-card {
    border-radius: 0 !important;
}

.el-card.is-always-shadow {
    box-shadow: none !important;
}

.el-card__header {
    background-color: #5F6068;
    padding: 2px !important;
    border: 1px solid #ffffff00 !important;
}

.el-card__body {
    padding: 4px 5px !important;
}

.el-form-item__label {
    color: #efefef9c !important;
    font-weight: 500;
}

.feed-msg-box .el-message-box {
    background-color: rgba(61, 62, 72, 0.9) !important;
    border: 1px solid #3badec7d !important;
}

.feed-msg-box-content .el-message-box__content {
    color: #ffffff !important;
    font-weight: 500 !important;
    font-size: 0.97em !important;
}

.feed-msg-box-title .el-message-box__title {
    color: #0dadec !important;
    font-weight: 700 !important;
}

.el-textarea .el-input__count {
    background-color: rgba(44, 46, 56, 0) !important;
    bottom: 2px !important;
    font-size: 12px !important;
}

.right-sum .el-input__inner {
    text-align: right;
}

.el-form-item--small .el-form-item__error {
    color: #ffffff;
    background-color: #f56c6c;
    padding: 10px 5px 5px;
    font-weight: 500;
    z-index: 9999;
    width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

.el-pager, .el-pager li {
    color: white !important;
    background-color: #3d3e4800 !important;
}

.el-pagination button:disabled {
    background-color: #3d3e4800 !important;
}

.el-pagination .btn-next, .el-pagination .btn-prev {
    color: white !important;
    background-color: #3d3e4800 !important;
}

.el-pager li.active {
    color: #409EFF !important;
}
