// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

.el-card__header {
    background-color: #5F6068;
    padding: 2px !important;
    border: 1px solid #ffffff00 !important;
}

.el-card__body {
    padding: 4px 5px !important;
}

.el-form-item__label {
    color: #efefef9c !important;
    font-weight: 500;
}

.el-message-box {
    background-color: #000000d6 !important;
    color: #f1cb08d9 !important;
}

.el-message-box__content {
    color: #ffffff !important;
    font-weight: 500 !important;
}

.el-message-box__title {
    color: #0dadec !important;
    font-weight: 700 !important;
}

.el-input .el-input__count .el-input__count-inner {
    background-color: #2c2e38 !important;
    font-size: 15px !important;
}

.right-sum .el-input__inner{
    text-align: right;
}
